/* Layout.css */

.icon-0 path {
    fill: currentColor;
}

.icon-1 path {
    fill: currentColor;
}

.icon-2 path {
    fill: currentColor;
}

.icon-3 path {
    fill: currentColor;
}

.icon-4 path {
    fill: currentColor;
}

.icon-5 path {
    fill: currentColor;
}

.icon-6 path {
    fill: currentColor;
}
