.headerNav {
  align-items: center;
  justify-content: center;
}

.satisfactionWrapper {
  width: 25%;
  padding: 1rem;
}

.segmentationWrapper {
  width: 25%;
  padding: 1rem;
}

.topCountriesWrapper {
  width: 50%;
  padding: 1rem;
}

.diagramWrapper {
  margin: 0;
  padding: 0;
}

.recharts-wrapper {
  width: 20%;
  padding: 1rem;
}